* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

small {
  position: absolute;
  bottom: -20px;
  font-size: 0.8rem !important;
  color: black !important;
  background: yellow !important;
}

.kw-alert-error {
  color: black !important;
  background: yellow !important;
  margin-bottom: 0 !important;
}

.kw-alert-warning {
  display: none !important;
}

.calendly-badge-widget, .calendly-badge-content {
  position: relative !important;
  bottom: 0px !important;
  right: 0px !important;
  z-index: 0 !important;
  box-shadow: none !important;
 }