.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  height: 250px;
  color: #D8E7C1;
  font-size: 20px;
  background: #26358c;
  border-bottom: 1.5px solid #000;
  overflow-x: hidden;


  &Image {
    outline: 3px solid yellow;
    margin-left: 50px;
  }

  &Text {
    width: 200px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 5px;
    line-height: 24px;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 414px) {
  .aboutImage{
    width: 150px;
    height: auto;
    margin-left: 40px;
  }
  .aboutText {
    font-size: 18px;
  }
}